<table class="table table-striped">
	<tr>
		<td>あ</td>
		<td>あ</td>
		<td>あ</td>
		<td>あ</td>
		<td>あ</td>
	</tr>
	<tr>
		<td>あ</td>
		<td>あ</td>
		<td>あ</td>
		<td>あ</td>
		<td>あ</td>
	</tr>
</table>